<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        display: flex;
        flex-direction: column;
        padding: 100px 30px;
        gap: 90px;
      }
      p{
        font-size: 2rem;
        text-align: center;

      }
    </style>
  </head>
  <body>
    <div class="box">
      <p class="para">
        Freind . This the Home page of my first Api full Express Web
        Application. I was off for around 4-5 months. Now I am revising my
        Projects and Works.
      </p>
      <p class="Inpa">
        In this Web Application You can access information By giving url for
        <i>'About,Contact,Subjects'</i>.
      </p>
    </div>
  </body>
</html>
