<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects</title>
    <style>
        p{
            margin: 30px;
            font-size: 3rem;
        }
        li{
            font-size: 2.5rem;
            margin-left:30px;
        }
        li a{
            color: darkorange;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>All The Subjects are listed Below</p>
    <ul>
        <li><a href="/mathematics">Mathematics</a></li>
        <li><a href="/computer-science">Computer Science</a></li>
        <li><a href="/science">Science</a></li>
        <li><a href="/psycology">Psycology</a></li>
        <li><a href="/aerodynamics">Aerodynamics</a></li>
    </ul>
</body>
</html>